{
    "env": {
        "browser": true,
        "jest": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb"
    ],
    "rules": {
        "linebreak-style": 0
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    }
}